---
const { title } = Astro.props;

import grain from "@components/grain.svg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="fixed bottom-0 left-0 right-0 top-0 z-0 opacity-100 bg-slate-500 bg-blend-soft-light"
      style={`background-image: url(${grain})`}
    >
    </div>

    <div class="relative z-10 max-w-screen-md w-3/4 mx-auto mt-[20%]">
      <slot />
    </div>

    <footer class="fixed text-slate-400 w-full bottom-4 flex flex-col items-center justify-center gap-2 pb-4 text-xs sm:flex-row">
      <a class="text-right hover:underline" href="https://thewebworkers.co">Made by The Web Workers</a>
      <svg class="h-auto w-12 fill-current hidden sm:block w-6" width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8499 3.5743H20.1501C22.9635 3.5743 23.831 3.59628 24.4641 3.7533C26.7603 4.32281 28.5186 6.17117 28.9727 8.49297C29.0781 9.03205 29.0796 9.73237 28.9936 11.6183H24.9802C24.2234 11.6183 23.8447 11.8592 23.7017 12.6147L22.739 17.6363H22.5959C22.5959 17.6363 21.8854 13.8707 21.6474 12.6147C21.5151 11.8592 21.1257 11.6183 20.3689 11.6183H18.1105C17.3514 11.6183 16.9727 11.8592 16.8296 12.6147C16.5922 13.8707 15.8669 17.6363 15.8669 17.6363H15.7239C15.7239 17.6363 15.0134 13.8707 14.7754 12.6147C14.643 11.8592 14.2566 11.6183 13.4969 11.6183H11.2527C10.496 11.6183 10.1173 11.8592 9.97423 12.6147C9.73681 13.8707 9.0115 17.6363 9.0115 17.6363H8.86846C8.86846 17.6363 8.15799 13.8707 7.91998 12.6147C7.78762 11.8592 7.40122 11.6183 6.64148 11.6183H3.00645C2.92038 9.73237 2.92187 9.03205 3.02731 8.49297C3.48144 6.17117 5.2397 4.32281 7.53592 3.7533C8.169 3.59628 9.03646 3.5743 11.8499 3.5743ZM3.15693 14.6698L3.46061 20.7434C3.58896 23.3103 3.64735 24.0956 3.81559 24.6849C4.42297 26.8125 6.13699 28.4429 8.29226 28.9433C8.88925 29.0819 9.67639 29.101 12.2465 29.101H19.7535C22.3236 29.101 23.1108 29.0819 23.7077 28.9433C25.863 28.4429 27.577 26.8125 28.1844 24.6849C28.3527 24.0956 28.411 23.3103 28.5394 20.7434L28.8431 14.6698H26.1388C26.1388 14.6698 25.2016 19.5957 24.8923 21.2376C24.7493 21.9931 24.3706 22.234 23.6115 22.234H21.9638C21.207 22.234 20.8177 21.9931 20.6853 21.2376C20.3731 19.5957 19.4389 14.6698 19.4389 14.6698H19.2786C19.2786 14.6698 18.3414 19.5957 18.0322 21.2376C17.8891 21.9931 17.5104 22.234 16.7513 22.234H15.0864C14.3267 22.234 13.9403 21.9931 13.8055 21.2376C13.4963 19.5957 12.5591 14.6698 12.5591 14.6698H12.4161C12.4161 14.6698 11.4789 19.5957 11.1696 21.2376C11.0266 21.9931 10.6479 22.234 9.88876 22.234H8.23811C7.47838 22.234 7.09198 21.9931 6.95725 21.2376C6.64801 19.5957 5.71081 14.6698 5.71081 14.6698H3.15693ZM0.12225 12.9576C-0.00932052 10.3262 -0.0751056 9.01047 0.136699 7.92759C0.810567 4.48234 3.4196 1.7396 6.82689 0.894524C7.89785 0.628906 9.2152 0.628906 11.8499 0.628906H20.1501C22.7848 0.628906 24.1021 0.628906 25.1731 0.894524C28.5804 1.7396 31.1894 4.48234 31.8633 7.92759C32.0751 9.01047 32.0093 10.3262 31.8777 12.9576L31.4811 20.8905V20.8905C31.3608 23.2958 31.3007 24.4984 31.0166 25.4934C30.1154 28.6505 27.572 31.0699 24.3738 31.8124C23.3659 32.0464 22.1617 32.0464 19.7535 32.0464H12.2465C9.83825 32.0464 8.63411 32.0464 7.62615 31.8124C4.42802 31.0699 1.88463 28.6505 0.983349 25.4934C0.699291 24.4984 0.639159 23.2958 0.518896 20.8905L0.12225 12.9576Z"></path>
      </svg>
      <a class="tracking-wide hover:underline" href="mailto:hello@thewebworkers.co">Hello@TheWebWorkers.co</a>
  </footer>
  </body>
</html>
